*{
    margin: 0%;
    padding: 0%;
    font-family: arial;
    border: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.navbar{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 8.7vh;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}


/*navbar box1*/
.nav-logo{
    width: 7vmax;
    height: 8vmin;
}
.nav-logo img{
    width: 7vmax;
    height: 8vmin;
}


/*navbar box2*/
.add-first{
    color: #cccccc;
    font-size: 1.75vmin;
    margin-left: 1.75vmax;
}
.add-second{
    font-size: 2vmin;
    margin-left: 0.2vmax;
}
.add-icon{
    display: flex;
    margin-left: 1vw;
    font-size: 2vmin;
}


/*navbar box3*/
.nav-search{
    display: flex;
    width: 40vw;
    height: 6vmin;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 5vmin;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 2vmin;
    border: none;
}
.search-icon{
    width: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vmin;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}


/*navbar box4 and 5*/
span{
    font-size: 1.75vmin;
}
.nav-second{
    font-size: 1.85vmin;
    font-weight: 700;
    margin-bottom: 1%;
}


/*navbar box6*/
.nav-cart i{
    font-size: 3vmin;
}
.nav-cart{
    font-size: 1.85vmin;
    font-weight: 700;
}


/*panel*/
.panel{
    width: 100%;
    height: 5.5vmin;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    font-size: 2vmin;
}

.panel-ops p{
    display: inline;
    margin-left: 1vw;
}

.panel-ops{
    width: 70%;
    font-size: 2vmin;
}

.panel-deals{
    font-size: 2.25vmin;
    font-weight: 700;
}

/*hero section*/
.hero-section{
    background-image: url(hero\ image\ ak.jpg);
    background-size: cover;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vmax;
    width: 95%;
    margin-bottom: 3vh;
}

.hero-msg a{
    color: #007185;
    z-index: 20;
}

@media (max-width:600px){
    .hero-section{
        height: 20vh;
    }
}

/*shop-section*/
.shop-section{
    height:min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(207, 239, 213);
}
.box{
    height: 26vmax;
    width: 21.8%;
    background-color: white;
    padding: 2.5vh 0px 1.5vh;
    margin-top: 1.75vh;
}
.box-img{
    height: 40vh;
    background-size: cover;
    margin: 2vh 0; 
}
.box-content{
    margin: 0 1.25vw; 
}
.box-content h2{
    font-size: 3vmin;
}
.box-content p{
    color: #007185;
}

@media (max-width:1024px){
    .shop-section{
        max-height: 150vmax;
    }
    .box{
        height: 20vmax;
        width: 30vmin;
        padding: 2vmin 0;
    }
    .box-img{
        height: 15vmax;
        margin: 1vmin 0;
    }
    .box-content h2{
        font-size: 2vmin;
    }
    .box-content p{
        font-size: 1.5vmin;
    }
}

@media (min-width:700px) and (max-width:1024px){
    .hero-section{
        height: 20vh;
    }
}


/*footer*/
footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vmax;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 40vmin;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 3.5vmin;
}

ul p{
    font-weight: 700;
    font-size: 2vmin;
}

ul a{
    display: block;
    font-size: 1.75vmin;
    margin-top: 1.5vmin;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid rgb(96, 93, 93);
    height: 9vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    /* background-image: url("amazon_logo.png"); */
    background-size: cover;
    height: 8vmin;
    width: 7vmax;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 15vmin;
    font-size: 1.5vmin;
    text-align: center;
}

.pages{  
    padding-top: 3.5vmin;
}
.copyright{
    padding-top: 0.75vmin;
}